/backend/web/bundles/
/backend/app/bootstrap.php.cache
/backend/app/cache/*
/backend/app/config/parameters.yml
/backend/app/logs/*
!backend/app/cache/.gitkeep
!backend/app/logs/.gitkeep
/backend/app/phpunit.xml
/backend/build/
/backend/vendor/
/backend/bin/
/composer.phar
