#newPicture {
	width:200px;
	height:200px;
}

.thumb {
	width:100px;
	padding: 20px;
	
}

.big {
	
	
	border: 5px solid red;
}

#images {
	
	height:350px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.answerPane {
	padding: 7px;
	background-color: #DBE3DE;

}

ul {
	list-style-type: none;
}



li > a{

	
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

form {
	padding-left: 30px;
}


#page {
	display: inline-block;
	width: 100%;
    min-height: 300px;
	
	margin: 0 auto;
}

input[type=text] {
	width:100%;
}

input[type=text].keyy {
	width: 80%;
}

.deleteKey {
	width: 15%;
}


p {
	display: inline-block;
}

button,
input[type=submit] {
	background-color: #12487C;
	color: white;
	padding: 3px 5px;
	border: none;
}

#buttonContainer {
	text-align: center;
}

#mainPage {
	background-image: url("../../files/icons/teacher.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: auto;
	height: 600px;
	margin: 0 20px 0 40px;
}

h1 {
	color: white;
}

.margin {
	margin: 130px 0 0 130px;
}