
body {
	background-color:  #12487C;
	background-image: url("../../files/icons/teacher.jpg");
	 background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}



#login {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#loginForm {
	display: inline-block;
	background-color: #12487C;
	padding: 15px;
	border-radius: 10px;
}

#loginForm label {
	display: block;
	margin: 5px 0;
	font-weight: bold;
	color: white;
}

#logout {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: #12487C;
	padding: 15px;
	border-radius: 10px;
}

#logout > div {
	margin: 10px;
}

#user {
	font-weight: bold;
}

button,
input[type=submit] {
	background-color: #12487C;
	color: white;
	padding: 3px 5px;
	border: 1px solid white;

}

