#login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#loginForm {
	display: inline-block;
	background-color: #55AA00;
	padding: 15px;
	border-radius: 10px;
}

#loginForm label {
	display: block;
	margin: 5px 0;
	font-weight: bold;
}

#logout {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: #55AA00;
	padding: 15px;
	border-radius: 10px;
}

#logout > div {
	margin: 10px;
}

#user {
	font-weight: bold;
}