/* STATYSTYKI */

#clear {
	display: none;
	float: right
}

#emptyStats {
	display: none;
	margin-top: 100px;
	text-align: center;
	font-size: 50px;
}

#statList {
	display: none;
	float:left
}

.secondRow {
	padding-left: 15px;
}

#block{
	margin-top: 40px;
}

#clearFloat {
	padding-top: 20px;
	clear:both;
}